.productMenu {
  margin-top: 50px;
  padding-left: 90px;
  padding-right: 90px;
}
.pBtnContainer {
  display: flex;
  justify-content: space-around;
  width: 700px;
}
.menuContainer {
  border: 1px rgba(34, 34, 34, 0.287) solid;
  border-radius: 5px;
  padding: 40px 0px 40px 0px;
  width: 100%;
}

.productMenu .selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: #eff6fb;
  border: 1px solid #eeeeee;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  color: #7e7e7e;
  padding: 12px 6px;
}

.productMenu .unselected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
  background-color: #e61b23;
  border: 1px #e61b23 solid;
  color: white;
  padding: 12px 6px;
}

.pageBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 150px;
}
